.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.disable-text-selection {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.input_form{
    border: none;
    border-radius: 3px;
}
